<div class="container text-center">
    <div class="display-6">
        Lista de Clientes:
    </div>
    <div class="border rounded shadow-sm p-4">
        <div class="text-start">
            <a routerLink="/client-form" class="btn btn-primary">Cadastrar Cliente</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Ações</th>
                </tr>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"><input class="form-control text-center" [(ngModel)]="nameFilter"
                            (keyup)="filterByName()" placeholder="Filtrar por nome"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @for (client of clientPage.content; track client.id){
                <tr class="align-middle">
                    <th scope="row">{{client.id}}</th>
                    <td>{{client.name}}</td>
                    <td>{{client.cpf}}</td>
                    <td>{{client.phone}}</td>
                    <td>
                        <button type="button" class="btn icon-btn ms-2" routerLink="/client-form/{{client.id}}">
                            <img src="/assets/pencil-fill.svg" width="16" height="16" alt="editar">
                        </button>

                        <button type="button" class="btn icon-btn ms-2" (click)="delete(client, modalConfirm)">
                            <img src="/assets/trash3-fill.svg" width="16" height="16" alt="deletar">
                        </button>

                        <button type="button" class="btn icon-btn ms-2" (click)="prescription(client, modalPrescription)">
                            <img src="/assets/eyeglasses.svg" width="16" height="16" alt="receita">
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="clientPage.totalElements"
            [(page)]="page" [boundaryLinks]="true" (pageChange)="pageChange()" />

    </div>
</div>

<app-modal #modalConfirm [title]="'Deseja remover o cliente?'">
    @if (selectedClient){
    <ng-container>
        Nome: <span class="fw-bold me-1">{{selectedClient.name}}</span>
    </ng-container>
    }
</app-modal>

<app-modal #modalPrescription [title]="'Receituário'" [showFooter]="false">
    @if (selectedClient){
    <app-prescription-table-page [clientId]="selectedClient.id">
        
    </app-prescription-table-page>
    }
</app-modal>